
        /*reset para navegador*/
*{
margin: 0; /*margem*/
padding:0; /*preenchimento*/
}

body{
    height: 100%; /*altura*/
    width: 100%; /*largura*/
    display: flex;
    justify-content: center;
    background: linear-gradient(#64ddff, #9d9d9d);
    background-repeat: no-repeat;
    
}
.imagem{
    display: flex;
    justify-content: center;
}
.imagem img{
    width: 170px;
    border-radius: 200%;
    margin-top: 150px;
}
.nome{
    margin-top: 10px; /* margem superior*/
    display: flex;
    justify-content: center;
    font-size: 32px; /*  tamanho da fonte*/
    font-weight: 600;
    color: #134e8d; /* cor da fonte*/
    font-family: Arial, Helvetica, sans-serif; /* tipos de fonte*/
}

.redes-sociais{
    margin-top: 10px; /*margem superior*/
    justify-content: center;  /*centralizar o texto*/
    align-items: center;   /*centralizar o texto*/
     /*background: red; cor para DIV*/
}
.redes-sociais a{
    text-decoration: none;
}
.icone, .email{
    height: 35px;
    width: 35px;
    border-radius: 30px;
    transition: all 0.3s ease-out;
    box-shadow: 0 5px 5px  rgba(0, 0, 0, 1); /*caixa de sombra*/
    margin: 5px;
    overflow: hidden; /*efeito mascara*/
}   
.icone i, .email i{
    display: inline-block;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center; /* alinhar texto */
    font-size: 20px; /* 22 */
    border-radius: 30px;
    background-color:azure; 
    color: #308ff4;  /* cor do texto */
    cursor: pointer;
}

